

.icon {
    height: 15px;
    width: 15px;
}
.search_icon {
    height: 25px;
    width: 25px;
    vertical-align: bottom;
}

.cardname {
    font-weight: bold;
}
.cardtext {
    white-space: pre-line;
    padding: 5px;
    margin: 10px;
    border: 1px dashed black;
}


.result-card {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 3px;
    padding: 5px;
}

.words {
    display: flex;
    overflow-x: scroll;
    margin-top: 25px;
    margin-bottom: 25px;
}

.words .word {
    border: 1px black solid;
    padding: 5px;
}

.words .word .field {
    border: 1px black solid;
    border-radius: 5px;
}

.words .word .lower {
    background-color: lightgreen;
}
.words .word .lemma {
    background-color: lightsalmon;
}
.words .word .like_num {
    background-color: lightblue;
}
.words .word .ent_type {
    background-color: olive;
}

.foot {
    margin-top: 30px;
}

.cardcontainer .cardimage {
    width: 100%;
}
.cardcontainer .cardinfo {
    padding: 10px;
}

.dependencies {
    width: 100%;
    overflow: scroll;
    border: 1px solid black;
    transform: scale(70%);
}

.beta {
    color: red;
}

.scroll {
    height: 350px;
    overflow-y: auto;
    border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
}

.card_tag_box {
    width: 80%;
    margin: 0 auto;
}

form.pure-form input[type="text"] {
    width: 350px;
}

.search-button-bar {
    margin-top: 30px;
    margin-bottom: 30px;
}

.title {
    margin-top: 30px;
}

ul.ulist li {
    list-style: disc;
}