{% extends "base.html" %}

{% block content %}
    <h1>Magic Search</h1>

    <h2>Card Analysis</h2>

    <p><b>Name:</b> {{analysis.card['name']}}</p>
    <p><b>Text:</b> {{analysis.card['text']}}</p>
    <p><b>TAGS:</b> {{analysis.labels}}</p>
    <div class="words">
    {% for t in analysis.doc %}
        <span class="word">
            <div class="text">{{t.text}}</div>
            <div class="field lower">{{t.lower}}</div>
            <div class="field lemma">{{t.lemma}}</div>
            <div class="field like_num">{{t.like_num}}</div>
            <div class="pos">{{t.pos}}</div>
            <div class="dep">{{t.dep}}</div>
            <div class="field ent_type">{{t.ent_type}}</div>
        </span>
    {% endfor %}
    </div>

    <h2>Legend</h2>
    <div class="words">
        <span class="word">
            <div class="text">Original text</div>
            <div class="field lower">Lowercase text</div>
            <div class="field lemma">Lemma</div>
            <div class="field like_num">Is it numeric?</div>
            <div class="pos">POS - Part Of Speech</div>
            <div class="dep">Dependency</div>
            <div class="field ent_type">Calculated tag assigned</div>
        </span>
    </div>
    <p>/name/: Name of the card</p>

    <!--
    <h2>Debug</h2>
    <table>
    {% for k in analysis.card.keys() %}
        <tr>
            <td>{{k}}</td>
            <td>{{analysis.card[k]}}</td>
        </tr>
    {% endfor %}
    </table>

    <p>{{analysis}}</p>
    -->

{% endblock %}
