<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Magic Deep Search is a search engine for Magic: The Gathering cards. The cards have been tagged using <b>Artificial Intelligence</b> so it is easier to find combos, create decks, find specific habilities, ..." />
    <title>Magic Deep Search{% block title %}{% endblock %} - magic.paellalabs.com</title>

    <!--bing-->
    <meta name="msvalidate.01" content="7C5D3743E8844C9102CEE522C1CAB759" />

    <meta property="og:site_name" content="Magic Deep Search - magic.paellalabs.com">
    {% block seo %}
    {% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

    {% block head %}
    {% endblock %}

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span>🔍</span> MagicDeepSearch
            </a>
        
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>
        
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
        
            <a class="navbar-item" href="/search">
                Search
            </a>
        
        </div>
    </nav>
                
    <div class="container">
        <h1 class="title is-1">Magic Deep Search <sup class="beta">beta</sup></h1>

        {% block content %}
        <h1 class="title is-1">content</h1>
        {% endblock %}
    </div>

    <footer class="footer foot">
        <div class="content has-text-centered">
            <p>Created by Jordi Burgos.</p>
            <p>Send comments or suggestions:</p>
            <p><a href="https://github.com/jmaister/">https://github.com/jmaister/</a></p>
            <p><a href="https://twitter.com/jordimaister">Twitter: @jordimaister</a></p>
        </div>
    </footer>
</body>
</html>
