{% extends "base.html" %}

{% block content %}
    <h2 class="title is-2">Welcome!</h2>
    <p>Magic Deep Search is a search engine for <b>Magic: The Gathering</b> cards.</p>
    <p>The cards have been tagged using <b>Artificial Intelligence</b> so it is easier to:
    </p>
    <ul class="ulist">
        <li>Find combos</li>
        <li>Find combos automatically (coming soon)</li>
        <li>Find a card with specific ability</li>
        <li>etc...</li>
    </ul>
<p>Besides the typical search for the card name, card text, mana color, ...
        you can search for:
    </p>
    <ul class="ulist">
        <li>Triggers: search by a triggering action i.e. <b>ON_ATTACK</b> -> "Whenever XXX attacks"</li>
        <li>Effects: search by effect i.e. <b>LIFE_GAIN</b> -> "You gain 3 life.</li>
    </ul>

    <h3 class="title is-3">Stats</h3>
    <table class="table">
        <tr>
            <td>Total cards in database</td>
            <td>{{stats['cards']}}</td>
        </tr>
        <tr>
            <td>Total words in card text</td>
            <td>{{stats['t']}}</td>
        </tr>
        <tr>
            <td>Recognized words in text</td>
            <td>{{stats['l']}}</td>
        </tr>
        <tr>
            <td>Percentage of recognized text</td>
            <td>{{(stats['pct']*100.0)|round(1, 'floor')}} %</td>
        </tr>
    </table>

    <p><i>Note: work is still in progress, so not all card properties or abilities have been trained.</i></p>

    <a class="button is-primary is-link" href="/search">Go to the Search Page</a>

    <h2 class="title is-2">Changelog</h2>    

<div>
    <p>2020-03-01 Recognized 45.2% of total text.</p>
    <p>2020-02-28 Recognized 38.8% of total text.</p>
    <p>2020-02-27 Recognized 31.0% of total text. Show mana cost.</p>
    <p>2020-02-26 Added card images to card analysis page. Rules updated.</p>
    <p>2020-02-25 First version!!!</p>
</div>

{% endblock %}
