{% extends "base.html" %}

{% block content %}
    <h2>Search</h2>
    <form class="pure-form" method="POST" action="/search" >
      <div>Name (partial): <input name="cardname" placeholder="Card name" value="{{ request.form['cardname'] }}" /> </div>
      <div>Text (partial): <input name="text" placeholder="Card text" value="{{ request.form['text'] }}" /> </div>
      <div>Card trigger:
        <select name="trigger">
          <option value="" {% if request.form['trigger'] == '' %} selected="selected"{% endif %}> - empty -</option>
          {% for tr in data.triggers|sort %}
          <option value="{{tr}}" {% if request.form['trigger'] == tr %} selected="selected"{% endif %}>{{tr}}</option>
          {% endfor %}
        </select>
      </div>
      <div>Card effect:
        <select name="effect">
          <option value="" {% if request.form['effect'] == '' %} selected="selected"{% endif %}> - empty -</option>
          {% for tr in data.effects|sort %}
          <option value="{{tr}}" {% if request.form['effect'] == tr %} selected="selected"{% endif %}>{{tr}}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <h3>Color</h3>
        <div>
          <select name="colormode">
            <option value="any" {% if request.form['label'] == 'any' %} selected="selected"{% endif %}>Any of these colors</option>
            <option value="all" {% if request.form['label'] == 'all' %} selected="selected"{% endif %}>All of these colors</option>
          </select>
        </div>
        <div>Red: <input type="checkbox" name="color_R" {% if request.form['color_R'] == 'on' %} checked {% endif %}/></div>
        <div>Blue: <input type="checkbox" name="color_U" {% if request.form['color_U'] == 'on' %} checked {% endif %}/></div>
        <div>Green: <input type="checkbox" name="color_G" {% if request.form['color_G'] == 'on' %} checked {% endif %}/></div>
        <div>White: <input type="checkbox" name="color_W" {% if request.form['color_W'] == 'on' %} checked {% endif %}/></div>
        <div>Black: <input type="checkbox" name="color_B" {% if request.form['color_B'] == 'on' %} checked {% endif %}/></div>
        <div>Uncolored: <input type="checkbox" name="color_NULL" {% if request.form['color_NULL'] == 'on' %} checked {% endif %}/></div>
      </div>
      <p>
        <button class="pure-button pure-button-primary" type="submit">Search</button>
      </p>
    </form>

    <h3>{{rows|length}} Results:</h3>
    {% for row in rows %}
    <div class="pure-g result-card" id="{{row['uuid']}}">
      <div class="pure-u-2-5 cardname">
        <a href="analize/{{row['uuid']}}">{{row['name']}}</a>
      </div>
      <div class="pure-u-1-5">
        Colors: [
        {% if row['colors'] != None %}
          {% set colorlist = row['colors'].split(',') %}
          {% for c in colorlist %}
            <img class="icon" src="img/{{c}}.svg" >
          {% endfor %}
        {% else %}
          <img class="icon" src="img/C.svg" >
        {% endif %}
        ]
      </div>
      <div class="pure-u-2-5">{{row['labels']}}</div>
      <div class="pure-u-1  cardtext">{{row['text']}}</div>
    </div>
    {% endfor%}

{% endblock %}